<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ppp.fisho">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".Service.Offine"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_logo"
        android:label="FiSho"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="FiSho"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="FiSho"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Notifications.Notification_ARWaterTempHigh"
            android:enabled="true" />
        <service
            android:name=".Notifications.Notification_ARWaterTempLow"
            android:enabled="true" />
        <service
            android:name=".Notifications.Notification_ARpHHigh"
            android:enabled="true" />
        <service
            android:name=".Notifications.Notification_ARpHLow"
            android:enabled="true" />
        <service
            android:name=".Notifications.Notification_ARTurbidityHigh"
            android:enabled="true" />
        <service
            android:name=".Notifications.Notification_ARTurbidityLow"
            android:enabled="true" />
        <service
            android:name=".Service.Update"
            android:enabled="true" />
        <service
            android:name=".Service.ThingSpeakUpdate"
            android:enabled="true" />

        <activity android:name=".statistic" />



        <activity android:name=".Chat.login.LoginActivity" />

        <activity
            android:name=".Chat.home.MLoginActivity" />

        <activity
            android:name=".Chat.thread.ThreadActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Chat.login.SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>

        <service
            android:name=".Chat.fcm.InstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".Chat.fcm.MessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_message" />





    </application>

</manifest>